<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{% endblock %}
    <title>{% block title %}Work{% endblock %}</title>
    <link id="favicon" rel="shortcut icon" type="image/svg+xml" href="{{ asset('icons/bi/person-workspace.svg') }}"/>
</head>
<body data-bs-theme="dark">
<div class="container">
    {{ component('Menu') }}
    {% block body %}{% endblock %}
    <div id="flash-messages">
        {% for label, messages in app.flashes %}
            <br>
            {% for message in messages %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% block javascripts %}
    {{ importmap() }}
    <script>
        setTimeout(() => {
            const el = document.getElementById('flash-messages');
            if (el) el.parentNode.removeChild(el);
        }, 5000);

        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {
                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });

        });
    </script>
{% endblock %}
</body>
</html>
